<%- include('partials/header', { title: 'Dashboard', user: user }) %>

<main>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>We are excited to see you! Here are the latest blog articles:</p>

    <ul class="blog-list">
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <li class="blog-item" onclick="window.location.href='/blogs/<%= blog._id %>'">
                    <h3><%= blog.title %></h3>
                    <p><%= blog.createdAt.toDateString() %></p>
                    <p><%= blog.content.substring(0, 150) %>...</p>
                </li>
            <% }); %>
        <% } else { %>
            <p>No blogs have been posted yet. Why not write the first one?</p>
        <% } %>
    </ul>
</main>

<%- include('partials/footer') %>