<%- include('partials/header', { title: 'My Articles', user: user }) %>

<main>
    <h1>My Articles</h1>
    <p>Here are all the articles you've published.</p>

    <ul class="my-articles-list">
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <li>
                    <span><%= blog.title %></span>
                    <div class="article-actions">
                        <a href="/blogs/<%= blog._id %>" class="action-link">Read</a>
                        <a href="/blogs/<%= blog._id %>/edit" class="action-link">Edit</a>

                        <!-- Delete action is a form for security -->
                        <form action="/blogs/<%= blog._id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
                            <button type="submit" class="action-button-delete">Delete</button>
                        </form>
                    </div>
                </li>
            <% }); %>
        <% } else { %>
            <p>You haven't written any articles yet.</p>
        <% } %>
    </ul>
</main>

<%- include('partials/footer') %>